html, body {
    height:100%;
    overflow: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-left: 280px;
    padding-right: 280px;
    margin: 0 auto;
    color: #333;
}
input, textarea, keygen, select, button {
    font-size:14px;
}
nav {
    margin-top: 10px;
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #abe;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: #567;
    font-weight: 400;
    font-size: 14px;
}

nav a:hover {
    color: #444;
}

#login-buttons {
    font-weight: 400;
    z-index:1;
}
#login-buttons a {
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
    margin-top:10px;
    margin-bottom:0px;
    font-size:30px;
}

input[name="message"] {
    width: 81%;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #999;
    box-shadow: inset 0px 1px 2px 0px #ccc;
}

input[value="Send"],
input[value="Delete"],
input[value="Follow"],
input[value="Unfollow"] {
    padding: 6px 19px 7px 19px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

input[value="Send"] {
    border: 1px solid #3498db;
    background-color: #3498db;
}

input[value="Delete"] {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #7f8c8d;
    text-shadow: 0px 1px 0px #fff;
    float: right;
    margin-top: -17px;
}

input[value="Delete"] {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #7f8c8d;
    text-shadow: 0px 1px 0px #fff;
}

input[value="Follow"] {
    background-color: #2ecc71;
    border: 1px solid #27ae60;
}
input[value="Unfollow"] {
    background-color: #f39c12;
    border: 1px solid #e67e22;
}

input[name="username-search"] {
    margin-top: 10px;
    width: 477px;
    padding: 10px 10px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: inset 0px 1px 3px 0px #ccc;
}

.countdown {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li {
    min-height: 38px;
    line-height: 30px;
}

ul li input[value="Delete"] {
    margin-top: 0px;
}

ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #2980b9;
}

h2 a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#follow input, #unfollow input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

#react-root, #app-wrapper, .container, .message-list-wrapper {
    height:100%;
    overflow-y: hidden;
}

main {
    height:100%;
    overflow-y: auto;
}

.message-list {
    height: calc(100% - 230px);
    overflow-y: auto;
    margin: 0;
}

.message-box {
    padding-top:20px;
}

.message-box textarea {
    border: 2px solid lightgray;
    background-color: whitesmoke;
    width: 98%;
    height:80px;
    resize:none;
    outline:none;
    border-radius:5px;
}

.message-item {
    margin-top:20px;
    padding:5px;
    line-height: normal;
}

.message-item.error {
    color:red;
    font-style: italic;
}

.message-item.success {
    color:gray;
    font-style: italic;
}

.message-created-at {
    font-size:12px;
    color:gray;
}

.hide {
    display:none;
}

.hidden {
    visibility: hidden;
}

#login-buttons {
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 5px;
}

#login-dropdown-list {
    left: -200px;
    top: 30px;
}

#incoming-messages-toast {
    position: relative;
    background: red;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    text-align: center;
    margin: auto auto;
    top: -130px;
}

#incoming-messages-toast :hover {
    cursor:pointer;
}

.message-list-page-icon {
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
}

@media(max-width: 1380px) {
    body {
        padding-left: 10px;
        padding-right:10px;
    }
    .conversation-list-container {
        display:none;
    }
    .member-list-container {
        display:none;
    }
}

.conversation-list-container {
    position: absolute;
    left: 0px;
    top:0px;
    width:280px;
    height:100%;
    box-shadow: 0 0px 6px rgba(0,0,0,0.35);
}

.conversation-list {
    overflow-y:auto;
    height: calc(100% - 80px);
}

.conversation {
    padding:10px;
    vertical-align: middle;
    transition: background .2s;
    color: #7089A9;
}

.conversation:hover {
    background-color: #e7edf3;
    cursor:pointer;
}

.conversation.active {
    background-color: #e7edf3;
}

.conversation .conversation-subject {
    font-weight:bold;
}

.conversation.seen .conversation-subject {
    font-weight:normal;
}

input {
    padding:10px;
    border:1px solid lightgray;
    border-radius:0;
    outline:none;
}

.conversation-input {
    width:240px;
    position:relative;
    top:5px;
    margin-left:10px;
}

.empty-conversation-list {
    width: 400px;
    margin: auto auto;
    margin-top: 200px;
    color: gray;
    text-align:center;
}

.message-item table {
    font-size:14px;
    width:98%;
    border: 1px solid gray;
    border-collapse:collapse;
}

.message-item tr {
    border:1px solid lightgray;
}
.message-item td {
    padding:5px;
    border:1px solid lightgray;
}

.message-item th {
    padding:5px;
    border:1px solid lightgray;
}

.full-height {
    height:100%;
}

.new-member-input {
    width:90%;
}

.member-list-container {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    padding-top:50px;
    width: 280px;
    background: whitesmoke;
    height: calc(100% - 60px);
    border-left:1px solid lightgray;
    overflow-y:auto;
}

.member-list {
    overflow-y:auto;
    height: calc(100% - 70px);
}

.member {
    padding:5px;
    vertical-align: middle;
}
.member .viewing {
    color: green;
}

.member .online {
    color: orange;
}

.member .offline {
    color: red;
}

.conversation-new-messages-badge {
    float: right;
    background: red;
    width: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.user-is-typing {
    position:relative;
    height:10px;
    font-size:12px;
    font-weight:bold;
    color:gray;
}

.message-list-wrapper {
    position:relative;
    padding-left:20px;
    padding-right:20px;
    transition: background .2s;
}

header {
    padding: 20px;
    background: #0079BF;
    border-bottom: 5px solid #01588A;
    color: white;
    font-weight: bold;
}

.header-buttons {
    float: right;
    position: relative;
    top: -60px;
    right: 10px;
}

.markdown-content p:first-child{
    margin:0;
}

.markdown-content code {
    background-color: #f5f5f5;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
}

.markdown-content blockquote {
    border-left: 2px solid #aaa;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    color: #aaa;
    font-style: italic;
}