html, body {
    height:100%;
    overflow: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-left: 350px;
    padding-right: 350px;
    margin: 0 auto;
    color: #333;
}
input, textarea, keygen, select, button {
    font-size:14px;
    outline:none !important;
}
nav {
    margin-top: 10px;
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #abe;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: #567;
    font-weight: 400;
    font-size: 14px;
}

nav a:hover {
    color: #444;
}

#login-buttons {
    font-weight: 400;
    z-index:1;
}
#login-buttons a {
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
    margin-top:10px;
    margin-bottom:0px;
    font-size:30px;
}

input[name="message"] {
    width: 81%;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #999;
    box-shadow: inset 0px 1px 2px 0px #ccc;
}

input[value="Send"],
input[value="Delete"],
input[value="Follow"],
input[value="Unfollow"] {
    padding: 6px 19px 7px 19px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

input[value="Send"] {
    border: 1px solid #3498db;
    background-color: #3498db;
}

input[value="Delete"] {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #7f8c8d;
    text-shadow: 0px 1px 0px #fff;
    float: right;
    margin-top: -17px;
}

input[value="Delete"] {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #7f8c8d;
    text-shadow: 0px 1px 0px #fff;
}

input[value="Follow"] {
    background-color: #2ecc71;
    border: 1px solid #27ae60;
}
input[value="Unfollow"] {
    background-color: #f39c12;
    border: 1px solid #e67e22;
}

input[name="username-search"] {
    margin-top: 10px;
    width: 477px;
    padding: 10px 10px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: inset 0px 1px 3px 0px #ccc;
}

.countdown {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li input[value="Delete"] {
    margin-top: 0px;
}

ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #2980b9;
}

h2 a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#follow input, #unfollow input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

#react-root, #app-wrapper, .view-container, .message-list-wrapper {
    height:100%;
    overflow-y: hidden;
}

main {
    height:100%;
    overflow-y: auto;
}

.message-list {
    height: calc(100% - 230px);
    overflow-y: auto;
    margin: 0;
    padding-left:20px;
    padding-right:20px;
}

.message-box {
    padding-top:20px;
    z-index:999;
}

.message-box textarea {
    border: 2px solid lightgray;
    background-color: whitesmoke;
    width: 98%;
    height:80px;
    resize:none;
    outline:none;
    border-radius:5px;
    margin-left:7px;
}

.message-item {
    margin:5px;
    padding:5px;
    line-height: normal;
}

.message-item.active {
    border:1px solid orange;
    box-shadow: 0px 0px 4px orange;
}

.message-item.error {
    color:red;
    font-style: italic;
}

.message-item.success {
    color:gray;
    font-style: italic;
}

.message-created-at {
    font-size:12px;
    color:gray;
}

.hide {
    display:none;
}

.hidden {
    visibility: hidden;
}

#login-buttons {
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 5px;
}

#login-dropdown-list {
    left: -200px;
    top: 30px;
}

#incoming-messages-toast {
    position: relative;
    background: red;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    text-align: center;
    margin: auto auto;
    top: -135px;
}

#incoming-messages-toast :hover {
    cursor:pointer;
}

.message-list-page-icon {
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
}

@media(max-width: 1380px) {
    header h2 {
        font-size:20px;
    }
}

@media(max-width: 905px) {
    .message-list-wrapper, header {
        display:none;
    }
}

.member-list-container {
    height:100%;
    margin-top:5px;
}

.project-list-container {
    position: absolute;
    left: 0px;
    top:0px;
    width:350px;
    height:100%;
    box-shadow: 0 0px 6px rgba(0,0,0,0.35);
}

.project-list {
    margin-top:20px;
    overflow-y:auto;
    height: calc(100% - 80px);
}

.project {
    padding:10px;
    vertical-align: middle;
    transition: background .2s;
    color: #7089A9;
}

.project:hover {
    background-color: #e7edf3;
    cursor:pointer;
}

.project.active {
    background-color: #e7edf3;
}

.project .project-title {
    font-weight:bold;
}

.project.seen .project-title {
    font-weight:normal;
}

input {
    padding:10px;
    border:1px solid lightgray;
    border-radius:0;
    outline:none;
}

.project-input {
    width:305px;
    position:relative;
    top:5px;
    margin-left:10px;
}

.right-sidebar-container input {
    width:100%;
    position:relative;
    top:5px;
}


.empty-project-list {
    width: 400px;
    margin: auto auto;
    margin-top: 200px;
    color: gray;
    text-align:center;
}

.message-item table {
    font-size:14px;
    width:98%;
    border: 1px solid gray;
    border-collapse:collapse;
}

.message-item tr {
    border:1px solid lightgray;
}
.message-item td {
    padding:5px;
    border:1px solid lightgray;
}

.message-item th {
    padding:5px;
    border:1px solid lightgray;
}

.full-height {
    height:100%;
}

.new-member-input {
    width:90%;
}

.right-sidebar-container {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    width: 350px;
    background: whitesmoke;
    height: 100%;
    border-left:1px solid lightgray;
    overflow:auto;

}

.member-list {
    overflow-y:auto;
    height: calc(100% - 81px);
    margin-top:10px;
}

.member {
    padding:10px;
    vertical-align: middle;
    background-color:white;
    border:1px solid lightgray;
    margin-top:5px;
}
.member .viewing {
    color: green;
}

.member .online {
    color: orange;
}

.member .offline {
    color: red;
}

.project-new-messages-badge {
    position: relative;
    top: -15px;
    float: right;
    background: red;
    width: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.user-is-typing {
    position:relative;
    height:10px;
    font-size:12px;
    font-weight:bold;
    color:gray;
    margin-left:10px;
}

.message-list-wrapper {
    position:relative;
    transition: background .2s;
}

header {
    padding: 20px;
    font-weight: bold;

    background: #0079BF;
    border-bottom: 5px solid #01588A;
    color: white;
    transition: background-color 1000ms ease;
}

header.blue {
    background: #0079BF;
    border-bottom: 5px solid #01588A;
}

header.red {
    background: #B04632;
    border-bottom: 5px solid #963C2B;
}

header.green {
    background: #519839;
    border-bottom: 5px solid #458131;
}

header.purple {
    background: #89609E;
    border-bottom: 5px solid #755286;
}


.header-buttons {
    float: right;
    position: relative;
    top: -50px;
    right: 10px;
}

.markdown-content ul {
    padding-left:30px;
    margin:10px;
}

.markdown-content li {
    list-style-type: circle;
}

.markdown-content p:first-child{
    margin:0;
}

.markdown-content code {
    background-color: #f5f5f5;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
}

.markdown-content blockquote {
    border-left: 2px solid #aaa;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    color: #aaa;
    font-style: italic;
}

.item-list {
    margin-top:10px;
}

.item {
    list-style-type:none;
    background-color:white;
    border:1px solid lightgray;
    margin-top:5px;
    margin-bottom:5px;

}

.item.active {
    border: 1px solid orange;
    box-shadow: 0px 0px 4px orange;
}

.item-wrapper {
    padding:10px;
}

.item-description {
    padding-left:35px;
}

.item-description:hover {
    cursor:pointer;
    color:#058AFF !important;
}

.ref-list, .activity-list {
    margin:0;
    padding: 5px;
    padding-left:15px;
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
    max-height:300px;
    overflow-y:auto;
}

.ref-item {
    margin-top:5px;
}

.activity-item {
    margin-top:5px;
}

.item-wrapper .labels .label {
    margin-right:5px;
}


.milestone-list {
    margin-top:10px;
}

.milestone {
    list-style-type:none;
    background-color:white;
    border:1px solid lightgray;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;

}

.milestone.active {
    border: 1px solid orange;
    box-shadow: 0px 0px 4px orange;
}

.milestone-wrapper {
    padding:10px;
}

.milestone-list-component li.milestone .milestone-title:hover {
    cursor:pointer;
    color:#058AFF !important;
}

.milestone-title {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.progress {
    margin-bottom:5px;
}

.right-sidebar-container .priority-input {
    width:50px;
    padding:0;
    margin:0;
    font-size:10px;
}

.item-type-dropdown-button, .item-type-dropdown-button:active, .item-type-dropdown-button:hover {
    box-shadow:none !important;
    background-color:white !important;
    border: none;
    position: relative;
    left: -10px;
}


.release-list {
    margin-top:10px;
}

.release {
    list-style-type:none;
    background-color:white;
    border:1px solid lightgray;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    min-height:50px;
}

.release.active {
    border: 1px solid orange;
    box-shadow: 0px 0px 4px orange;
}

.release-wrapper {
    padding:10px;
}

.release-list-component li.release .release-title:hover {
    cursor:pointer;
    color:#058AFF !important;
}

.release-title {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.btn-backlog {
    /*background-color:black;
    color:white;*/
}

.btn-backlog i {
    /*font-weight:bold;*/
}

.btn-link.active {
    border-bottom:2px solid lightgray;
}

#item-detail-component {
    height:calc(100% - 40px);
}

#item-detail-component .item {
    height: 100%;
}

#item-detail-component .ref-list, #item-detail-component .activity-list {
    max-height: none;
    overflow-y: auto;
    height: calc(100% - 124px);
}

.label-borderless {
    background-color:transparent;
}

.activity-item {
    padding:5px;
    border-bottom:1px solid lightgray;
}

::-webkit-scrollbar {
    width: 4px;
    height:4px;
}

::-webkit-scrollbar-track {
    background:lightgray;
}

::-webkit-scrollbar-thumb {
    background:gray;
}